<div ng-if="showControlsWindow" class="horizontal-vertical-center center-window fade-animation">
    <div>
        <div class="green-background center-window-header">
            <div class="center-window-title">
                Controls
            </div>
        </div>
        <img ng-click="hideControlsWindow();" src="img/creative/close_window_icon.png" class="close-icon" style="filter: invert(100%);" alt="">
    </div>
    <div class="black-background center-window-content">
        <div class="icon-menu-item">
            <div>
                Move
            </div>
            <img src="img/creative/arrow_keys.svg" style="filter: invert(100%);" alt="">
        </div>
        <div class="icon-menu-item">
            <div>
                Spin
            </div>
            <img src="img/creative/wasd_keys.svg" style="filter: invert(100%);" alt="">
        </div>
        <div class="icon-menu-item">
            <div>
                Jump
            </div>
            <img src="img/creative/spacebar.svg" style="filter: invert(100%);" alt="">
        </div>
        <div class="icon-menu-item">
            <div>
                Drag
            </div>
            <img src="img/creative/arrow.svg" style="filter: invert(100%);" alt="">
        </div>
    </div>
</div>
