/* flip speed  */
.flipper {
	transition: 2s;
	transform-style: preserve-3d;

	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* flip toggle */
.flipper.flip {
	transform: rotateY(360deg);
}

.cross-cursor {
	cursor: url(../img/creative/cross.PNG) 40 40, auto;
}

#graphic-canvas {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}

header .floating-container {
	position: relative;
	z-index: 1029;
	top: 10rem;
	max-width: 10rem;
	margin-left: 5%;
}

.floating-container .floating-content {
	position: absolute;
	color: white;
}

.floating-content .floating-section {
	text-align: center;
	padding: 1rem;
	border-radius: 5px;
}

.floating-content .floating-section:hover {
	background-color: rgba(4, 27, 55, 0.75);
	cursor: pointer;
}

.floating-content img {
	/*height: auto;
	width: auto;
	max-width: 250px;
 	max-height: 250px;*/
 	max-width: 100%;
 	max-height: 5rem;
}

.dark-transparent {
	background: rgba(0, 0, 0, 0.5);
}

.text-white-center {
	color: white;
	text-align: center;
}
