/* flip speed  */
.flipper {
	transition: 2s;
	transform-style: preserve-3d;

	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* flip toggle */
.flipper.flip {
	transform: rotateY(360deg);
}

.cross-cursor {
	cursor: url(../img/creative/cross.PNG) 40 40, auto;
}

.horizontal-vertical-center {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.icon-menu-container {
	position: absolute;
	z-index: 2;
	bottom: 0;
	margin-bottom: 1.5rem;
	width: 100%;
}

.icon-menu {
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-align: center;
	width: 31.72rem;
}

.icon-menu-item {
	display: inline-block;
	padding: 1rem;
	cursor: pointer;
}

.icon-menu-item img {
	height: 4rem;
	width: 4rem;
}

#graphic-canvas {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.blue-hover:hover {
	/*background-color: rgba(4, 27, 55, 0.5);*/
	background-color: rgba(4, 27, 55, 0.9);
}

.red-hover:hover {
	/*background-color: rgba(55, 0, 0, 0.5);*/
	background-color: rgba(55, 0, 0, 0.9);
}

.yellow-hover:hover {
	/*background-color: rgba(55, 0, 0, 0.5);*/
	background-color: rgba(55, 55, 0, 0.9);
}

.floating-content img {
	/*height: auto;
	width: auto;
	max-width: 250px;
 	max-height: 250px;*/
 	max-width: 100%;
 	max-height: 5rem;
}

.dark-transparent {
	background: rgba(0, 0, 0, 0.5);
}

.text-white-center {
	color: white;
	text-align: center;
}

#app-header {
	background-image: url('../img/creative/backgrounds/bg-header.jpg');
}
