/* flip speed  */
.flipper {
	transition: 2s;
	transform-style: preserve-3d;

	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* flip toggle */
.flipper.flip {
	transform: rotateY(360deg);
}

.cross-cursor {
	cursor: url(../img/creative/cross.PNG) 40 40, auto;
}

#my_canvas {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
}
