<div ng-show="showGraphic" class="floating-container">
    <div class="floating-content">
        <div class="floating-section dark-transparent">
            <div class="text-white-center">
                Move
            </div>
            <img src="img/creative/arrow_keys.svg" style="filter: invert(100%);" alt="">
        </div>
        <br>
        <div class="floating-section dark-transparent">
            <div class="text-white-center">
                Spin
            </div>
            <img src="img/creative/wasd_keys.svg" style="filter: invert(100%);" alt="">
        </div>
        <br>
        <div ng-click="clickJump()" class="floating-section dark-transparent">
            <div class="text-white-center">
                Jump
            </div>
            <img src="img/creative/spacebar.svg" style="filter: invert(100%);" alt="">
        </div>
        <br>
        <div class="floating-section dark-transparent">
            <div class="text-white-center">
                Drag
            </div>
            <img src="img/creative/pointer.svg" style="filter: invert(100%);" alt="">
        </div>
        <br>
        <div ng-click="viewRedCyan();" class="floating-section dark-transparent">
            <div class="text-white-center">
                View
            </div>
        </div>
        <!-- <br>
        <div class="floating-section dark-transparent">
            <div class="text-white-center">
                Mode
            </div>
        </div>
        <br>
        <div class="floating-section dark-transparent">
            <div class="text-white-center">
                Animate
            </div>
        </div>
        <br>
        <div class="floating-section dark-transparent">
            <div class="text-white-center">
                Reset
            </div>
        </div>
        <br>
        <div class="floating-section dark-transparent">
            <div class="text-white-center">
                Spin
            </div>
        </div> 
        <br>
        <div class="floating-section dark-transparent">
            <div class="text-white-center">
                Close
            </div>
        </div> -->
    </div>
</div>
